/* TextPage.module.css */
.container {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .heading{
    font-size: 3rem;
    color: #333;
  }
  
  .textarea {
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
    width: 100%;
    min-height: 300px;
    resize:none;
    font-size: 1rem;
  }
  .createBtn {
      border: none;
      font-size: 1rem;
      font-weight: bold;
      border-radius: 100px;
      padding: 10px 20px;
      margin: 0 10px;
  }
  
  /* Add more styles as needed */
  