.homePage {
    padding: 0 3%;
    font-family: "Inter", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: #ffae42;
}

.textGradient {
    background: #3F3FF2;
    background: -webkit-linear-gradient(to right, #3F3FF2 0%, #000000 38%);
    background: -moz-linear-gradient(to right, #3F3FF2 0%, #000000 38%);
    background: linear-gradient(to right, #3F3FF2 0%, #000000 38%);
    -webkit-background-clip: text;
    background-clip: none;
    -webkit-text-fill-color: transparent;
}

.Navbar {
    padding-top: 10px;
    padding-bottom: 40px;
}
.demoChat {
    transform: rotate(-12deg);
    box-shadow: -6px 10px 18px 0px rgba(0,0,0,0.6);
    -webkit-box-shadow: -6px 10px 18px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: -6px 10px 18px 0px rgba(0,0,0,0.6);
}

.demoChatDiv {
    margin-bottom: 10px;
}
.benefitDiv {
    box-shadow: -7px 7px 21px 0px rgba(0,0,0,0.76);
    -webkit-box-shadow: -7px 7px 21px 0px rgba(0,0,0,0.76);
    -moz-box-shadow: -7px 7px 21px 0px rgba(0,0,0,0.76);
}

.carousel {
    text-align: center;
    padding: 10% 5%;
}
.testimonial {
    margin: 0 15% 5%;
    height: 250px;
}
             
.liveBtn {
        background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%);
        margin: 10px;
        padding: 15px 45px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;            
        box-shadow: 0 0 20px #eee;
        border-radius: 10px;
        display: block;
}

.liveBtnHover {
        background-position: right center; /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
}

.fixedDiv {
    margin: 2% auto 0;
    background-color: #fff;
    width: 600px;
    height: 0;
    border: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: height 1.5s ease;
}
.fixedDiv.open {
    height: 500px;
    border: solid #fff;
    border-radius: 8px;
    border-width: 2px;
}
.scrollContent {
    padding: 10px;
    width: 100%;
    height: 100%;
    overflow: auto;
    flex: 1;
}

.questionDiv {
    border-top: 1px solid #000;
    padding: 10px 15px;
    display: flex;
    overflow: hidden;
  }
  
  .horizontalScrollContent {
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent content from wrapping */
  }
.footer  {
    background-color: #FFAE42;
    padding: 3% 0;
    text-align: center;
}
.links a {
    font-weight: 500;
    text-decoration: none;
    color: #000;
    margin: 0 20px;
}
.links a:hover {
    font-weight: 700;
}