/* Sidebar.module.css */

.sidebar {
  background-color: rgb(22, 22, 22);
  color: #fff;
  width: 15%;
  font-family: "Inter";
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}

.heading {
  margin-top: 2rem;
  font-size: 1.7rem;
  margin-bottom: 3rem;
  text-align: center; 
  margin-left: auto; 
  margin-right: auto; 
}

.sidebardiv {
  font-size: 1.3rem;
  color: #fff;
  padding: 10px 15px;
  margin-bottom: 3.1rem;
  cursor: pointer;
  text-align: left;
  font-weight:normal;
}

.sidebardiv:last-child {
  margin-bottom: 0; /* Remove margin from the last div */
}
